<div class="container about">
    <div class="container header">
        <h1>About Us</h1>
    </div>
    <div class="row">
        <div class="col-sm-2 indiv-container"></div>
        <div class="col-sm-4 indiv-container">
            <a href="/about/steve"><img src="/images/about/steve.jpg" class="avatar"></a>
            <div class="name-position-container">
                <h3 class="name"><a href="/about/steve">Steve Rentschler</a>
                </h3>
                <h4 class="position">Team Lead</h4>
            </div>
        </div>
        <div class="col-sm-4 indiv-container">
            <a href="/about/johnson"><img src="/images/about/johnson.jpg" class="avatar"></a>
            <div class="name-position-container">
                <h3 class="name"><a href="/about/johnson">Johnson Wong</a></h3>
                <h4 class="position">Back-end Lead / GitHub Master</h4>
            </div>
        </div>
        <div class="col-sm-2 indiv-container"></div>
    </div>
    <div class="row">
        <div class="col-sm-4 indiv-container">
            <a href="/about/sergei"><img src="/images/about/sergei.jpg" class="avatar"></a>
            <div class="name-position-container">
                <h3 class="name"><a href="/about/sergei">Sergei Katakhov</a></h3>
                <h4 class="position">Front-end Lead</h4>
            </div>
        </div>
        <div class="col-sm-4 indiv-container">
            <a href="/about/tevis"><img src="/images/about/tevis.png" class="avatar"></a>
            <div class="name-position-container">
                <h3 class="name"><a href="/about/tevis">Tevis Mak</a></h3>
                <h4 class="position">Front-end</h4>
            </div>
        </div>
        <div class="col-sm-4 indiv-container">
            <a href="/about/matthew"><img src="/images/about/matthew.png" class="avatar"></a>
            <div class="name-position-container">
                <h3 class="name"><a href="/about/matthew">Matthew Lee</a></h3>
                <h4 class="position">Back-end</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 indiv-container"></div>
        <div class="col-sm-4 indiv-container">
            <a href="/about/tim"><img src="/images/about/tim.png" class="avatar"></a>
            <div class="name-position-container">
                <h3 class="name"><a href="/about/tim">Tim Chan</a></h3>
                <h4 class="position">Front-end</h4>
            </div>
        </div>
        <div class="col-sm-4 indiv-container">
            <a href="/about/osbaldo"><img src="/images/about/osbaldo.jpg" class="avatar"></a>
            <div class="name-position-container">
                <h3 class="name"><a href="/about/osbaldo">Osbaldo Martinez</a></h3>
                <h4 class="position">Back-end</h4>
            </div>
        </div>
        <div class="col-sm-2 indiv-container"></div>
    </div>
</div>
</div>