<div class="container mt-4">
    <div class="header">
        <h1>About Matthew</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 avatar-container">
            <img src="/images/about/matthew.png" class="avatar">
        </div>
        <div class="col-sm-9">
            <p>Hello guys, my name is Tsun Ming Lee, I would prefer call me Matthew. I was transfer from CCSF at 2018.
                My first major was marketing and I changed my major to CS. I learn C++ at the beginning. I will be
                graduate at summer 2020. My long-term goal is to become a Software Engineer. </p>
        </div>
    </div>
</div>