<div class="container mt-4">
    <div class="header">
        <h1>About Osbaldo</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 avatar-container">
            <img src="/images/about/osbaldo.jpg" class="avatar">
        </div>
        <div class="col-sm-9">
            <p>Osbaldo is a Computer Science student at San Francisco State University. He is a
                hard-working person that enjoys learning new stuff.
            </p>
        </div>
    </div>
</div>