<div class="container mt-4">
    <div class="header">
        <h1>About Sergei</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 avatar-container">
            <img src="/images/about/sergei.jpg" class="avatar">
        </div>
        <div class="col-sm-9">
            <p>Hi! My name is Sergei Katukhov. I’m international student from Russia who is studying Computer Science in
                San Francisco State University. I hope you enjoy our project!
            </p>
        </div>
    </div>
</div>