<div class="container mt-4">
    <div class="header">
        <h1>About Steve</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 avatar-container">
            <img src="/images/about/steve.jpg" class="avatar">
        </div>
        <div class="col-sm-9">
            <p>Hi there, I’m a senior at SFSU and this is my second project as Team Lead.
                I’m also working on a cross-platform multiplayer chess game for iOS and online.
                I have a background in art and enjoy designing, drawing, painting, and sculpting.
                While I’m attending SFSU for computer science, I’m also a certified sommelier and
                work in the restaurant industry. When I’m not working, I love golfing, working out,
                and wine tasting. Before working in the restaurant industry, I worked at
                golf courses to support my golfing habit and played on the De Anza golf team.
            </p>
        </div>
    </div>
</div>