<div class="container" style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
    <h1>About Tevis</h1>
</div>
<div class="container" style="margin-bottom: 150px;">
    <div class="row">
        <div class="col-sm-3" style="text-align: center;">
            <img src="/images/about/tevis.png" style="border-radius: 50%;" width="200" height="200">
        </div>
        <div class="col-sm-9">
            <p>Hi, I am Ho Yin Mak. I am a Senior at the San Francisco State University, pursuing a bachelor’s Degree in
                Computer Science. I’m passionate about programming and developing technologies. I have experience with
                Java, C, C++, and Linux. Over the past years, I have worked in different environment. Adapting to
                various work cultures, identifying and resolving bottlenecks and prioritizing have been outstanding
                features of my working style.
            </p>
        </div>
    </div>
</div>