<div class="container mt-4">
    <div class="header">
        <h1>About Tim</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 avatar-container">
            <img src="/images/about/tim.png" class="avatar">
        </div>
        <div class="col-sm-9">
            <p>
                Hello, my name is Tim. I'm graduating in May 2020. I love to do water sports.
                Love trying new food. Love watching movies, tv shows, and etc.
            </p>
        </div>
    </div>
</div>