<!DOCTYPE html>
<html lang="en">

<head>
  <title>SFSU CSC 648 Team 03 Buy & Sell Inc for Students</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/about.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/typeahead.min.js"></script>
  <script type="text/javascript" src="/js/inputHandle.js"></script>
</head>

<body style="background-color:white;">
  <!-- Nav Bar-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <div class="bs-example" id="bar">
        <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
          <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false"
            placeholder="Enter a Product Name">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container main">
    <div class="row">
      {{{body}}}
    </div>
  </div>

  <div class="footer" style="margin-bottom:0">
    <p>
      <a href="#" style="color: black">Sell</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <a href="/about" style="color: black">About</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <a href="#" style="color: black">Terms & Conditions</a>&nbsp;&nbsp;&nbsp;
    </p>
    <p>For demonstrational and educational purposes only.</p>
    <p>Copyright © 2019 SFSU CSC 648 Team 03 Buy & Sell Inc for Students. All rights reserved.</p>
  </div>
</body>

</html>