<div class="container" style="margin-top:30px;text-align:center">
    <h1>About Us</h1><br><br>

    <img src="/images/tooth.png" class="rounded" alt="Cinque Terre" width="304" height="236"><br>
   <div style= "margin-top: 10px"><h2>Steve</h2></div>
    <a href="/about/steve">Click here to learn more about Steve!</a><br><br><br>

    <img src="/images/tooth.png" class="rounded" alt="Cinque Terre" width="304" height="236"><br>
    <h2>Johnson</h2>
    <a href="/about/johnson">Click here to learn more about Johnson!</a><br><br><br>

    <img src="/images/Sergei.JPG" class="rounded" alt="Cinque Terre" width="346" height="480"><br>
    <h2>Sergei</h2>
    <a href="/about/sergei">Click here to learn more about Sergei!</a><br><br><br>

    <img src="/images/tooth.png" class="rounded" alt="Cinque Terre" width="304" height="236"><br>
    <h2>Tevis</h2>
    <a href="/about/tevis">Click here to learn more about Tevis!</a><br><br><br>

    <img src="/images/GL.jpg" class="rounded" alt="Cinque Terre" width="300" height="300"><br>
    <h2>Matthew</h2>
    <a href="/about/matthew">Click here to learn more about Matthew!</a><br><br><br>

    <img src="/images/selfie.png" class="rounded" alt="Cinque Terre" width="304" height="236"><br>
    <h2>Tim</h2>
    <a href="/about/tim">Click here to learn more about Tim!</a><br><br><br>

    <img src="/images/tooth.png" class="rounded" alt="Cinque Terre" width="304" height="236"><br>
    <h2>Osbaldo</h2>
    <a href="/about/osbaldo">Click here to learn more about Osbaldo!</a><br><br><br>


</div>