<div class="container" style="width:75%;margin-top:30px;text-align:center">
    <div class="container" style="margin-bottom:30px">
        <h1>About Us</h1>
    </div>

    <div class="container" style="margin-bottom: 50px">
        <img src="/images/tooth.png" class="rounded" width="200" height="200">
        <div style="margin-top: 10px">
            <h3 style="padding: 0px; margin: 5px">Steve</h3>
            <h4 style="font-size: 13px; padding: 0px; margin: 0px">Lead</h4>
            <a href="/about/steve" style="font-size: 11px">Click here to learn more about Steve!</a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 50px">
        <div class="col-sm-4">
            <img src="/images/johnson.jpg" class="rounded" width="200" height="200">
            <div style="margin-top: 10px">
                <h3 style="padding: 0px; margin: 5px">Johnson</h3>
                <h4 style="font-size: 13px; padding: 0px; margin: 0px">Back-end Lead / GitHub Master</h4>
                <a href="/about/johnson" style="font-size: 11px">Click here to learn more about Johnson!</a>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/images/Sergei.JPG" class="rounded" width="200" height="200">
            <div style="margin-top: 10px">
                <h3 style="padding: 0px; margin: 5px">Sergei</h3>
                <h4 style="font-size: 13px; padding: 0px; margin: 0px">Role</h4>
                <a href="/about/sergei" style="font-size: 11px">Click here to learn more about Sergei!</a>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/images/tooth.png" class="rounded" width="200" height="200">
            <div style="margin-top: 10px">
                <h3 style="padding: 0px; margin: 5px">Tevis</h3>
                <h4 style="font-size: 13px; padding: 0px; margin: 0px">Role</h4>
                <a href="/about/tevis" style="font-size: 11px">Click here to learn more about Tevis!</a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 50px">
        <div class="col-sm-4">
            <img src="/images/GL.jpg" class="rounded" width="200" height="200">
            <div style="margin-top: 10px">
                <h3 style="padding: 0px; margin: 5px">Matthew</h3>
                <h4 style="font-size: 13px; padding: 0px; margin: 0px">Role</h4>
                <a href="/about/matthew" style="font-size: 11px">Click here to learn more about Matthew!</a>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/images/selfie.png" class="rounded" width="200" height="200">
            <div style="margin-top: 10px">
                <h3 style="padding: 0px; margin: 5px">Tim</h3>
                <h4 style="font-size: 13px; padding: 0px; margin: 0px">Role</h4>
                <a href="/about/tim" style="font-size: 11px">Click here to learn more about Tim!</a>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/images/tooth.png" class="rounded" width="200" height="200">
            <div style="margin-top: 10px">
                <h3 style="padding: 0px; margin: 5px">Osbaldo</h3>
                <h4 style="font-size: 13px; padding: 0px; margin: 0px">Role</h4>
                <a href="/about/osbaldo" style="font-size: 11px">Click here to learn more about Osbaldo!</a>
            </div>
        </div>
    </div>

</div>