<h1>Welcome to your Dashboard, Mr. User!</h1>

{{!-- --------------------------------------------------------------------------------- --}}
<hr style="border: 3px solid rgb(31, 26, 34); max-width: 50%">
{{!-- --------------------------------------------------------------------------------- --}}

<div class="container">
    <h2>Items You are Selling </h2>
    <ul class="selling">
        <li class="table-header">
            <div class="col col-1">Name</div>
            <div class="col col-2">Status</div>
            <div class="col col-3">Category</div>
            <div class="col col-4">Price</div>
        </li>
        <li class="table-row">
            <div class="col col-1">Chair</div>
            <div class="col col-2">Active</div>
            <div class="col col-3">Furniture</div>
            <div class="col col-4">$300</div>

        </li>
        <li class="table-row">
            <div class="col col-1">Book</div>
            <div class="col col-2">Active</div>
            <div class="col col-3">Books</div>
            <div class="col col-4">$50</div>
        </li>
        <li class="table-row">
            <div class="col col-1">Computer</div>
            <div class="col col-2">Active</div>
            <div class="col col-3">Electronics</div>
            <div class="col col-4">$1000</div>
        </li>
    </ul>
</div>



{{!-- --------------------------------------------------------------------------------- --}}
<hr style="border: 3px solid lightgray">
{{!-- --------------------------------------------------------------------------------- --}}

<div class="container">
    <h2>Items You Bought </h2>
    <ul class="buy">
        <li class="table-header">
            <div class="col col-1">Name</div>
            <div class="col col-2">Category</div>
            <div class="col col-3">Price</div>
            <div class="col col-4">Date Sold</div>
        </li>

        <li class="table-row">
            <div class="col col-1">Pen</div>
            <div class="col col-2">Books</div>
            <div class="col col-3">$1</div>
            <div class="col col-4">10 Sep, 2019</div>

        </li>
        <li class="table-row">
            <div class="col col-1">Laptop</div>
            <div class="col col-2">Electronics</div>
            <div class="col col-3">$950</div>
            <div class="col col-4">5 Aug, 2019</div>

    </ul>
</div>

{{!-- --------------------------------------------------------------------------------- --}}
<hr style="border: 3px solid lightgray;">
{{!-- --------------------------------------------------------------------------------- --}}


<h2>Your Messages</h2>

<table class="messages">
    <thead>
        <tr>
            <th>Item</th>
            <th>From</th>
            <th>Subject</th>
            <th>Received</th>

        </tr>
    </thead>
    <tbody class="table-hover">
        <tr>
            <td class="new_message">Chair</td>
            <td class="new_message">John777</td>
            <td class="new_message">Why so Expensive?</td>
            <td class="new_message">19 Oct, 2019</td>


        </tr>
        <tr>
            <td>Chair</td>
            <td>Jimi Hendrix</td>
            <td>Can I get a discount?</td>
            <td>15 Oct, 2019</td>


        </tr>
        <tr>
            <td>Book</td>
            <td>Angus Young</td>
            <td>Want to buy</td>
            <td>11 Oct, 2019</td>

        </tr>
        <tr>
            <td class="new_message">Computer</td>
            <td class="new_message">Alex2019</td>
            <td class="new_message">How are you</td>
            <td class="new_message">5 Oct, 2019</td>
        </tr>
        <tr>
            <td>Computer</td>
            <td>Peter833</td>
            <td>Looks good :)</td>
            <td>5 Oct, 2019</td>
        </tr>
    </tbody>
</table>