<div class="container error-template mt-8">
    <h1><b>Sorry, that page does not exist!</b></h1>
    <h2>Try searching or go to the <a href="/" style="text-decoration: underline;">home page</a>.</h2>
    <div style="padding-top: 50px;">
        <img src="/images/error_alligator_image/alligator.jpg" alt="Cartoon Aligator"
            style="width: auto; height: 250px;">
    </div>
</div>