<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1> Sorry that page doesn't exist! </h1>
                
                <h2>Try searching again or return back to our <a href="/" >Home Page.</a></h2>
                <!--
                <div class="error-actions">
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                    
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-home"></span> Customer Support
                    </a>
                </div>
                -->
                <br><br>
                <img src="/images/error_alligator_image/alligator.jpg" alt="Cartoon Aligator" style="width:250px;height:250px;">
            </div>
        </div>
    </div>
</div>
