<div class="container home mt-4">
    <!-- Display logout message -->
    <div>
        {{> message}}
    </div>
    <div class="header">
        <h1>SFSU CSC 648 Team 03</h1>
        <h2>Welcome to Gator Trader</h2>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card home-card img-fluid">
                <img class="card-img home-image" src="/images/main/books.png" alt="Card image">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Books</h2>
        </div>
        <div class="col-sm-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/electronics.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Electronics</h2>
        </div>
        <div class="col-sm-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/supplies.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Supplies</h2>
        </div>
          <div class="col-sm-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/health.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Health</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/furniture.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Furniture</h2>
        </div>
        <div class="col-sm-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/services.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Services</h2>
        </div>
        <div class="col-sm-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/sports.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Sports</h2>
        </div>
         <div class="col-sm-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/other.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Other</h2>
        </div>
    </div>
   <br>