<div class="container">
    <!-- Display logout message -->
    <div>
        {{> message}}
    </div>
    <div class="header">
        <h1>SFSU CSC 648 Team 03</h1>
        <h5>Buy & Sell Inc for Students</h5>
    </div>
</div>