<div class="disclaimer">
    <p>For demonstrational and educational purposes only</p>
</div>

<div class="container home mt-4">
    <!-- Display logout message -->
    <div>
        {{> message}}
    </div>
    <div class="header">
        <h1>Welcome to Gator Trader</h1>
    </div>
    <div class="row home-page-icons">
        {{#each category}}
        <div class="col-md-3">
            <div class="card home-card img-fluid">
                <img class="card-img home-image" src="/images/main/{{this.imgFileName}}" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">{{this.name}}</h2>
                        <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>