<div class="container-fluid">
    <!-- Display logout message -->
    <div>
        {{> message}}
    </div>
    <div class="header">
        <h1>SFSU CSC 648 Team 03</h1>
        <h2>Welcome to Gator Trader</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img" src="/images/main/books.jpg" alt="Card image" style="height:110%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Books</h2>
        </div>
        <div class="col-sm-4">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img" src="/images/main/books.jpg" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Electronics</h2>
        </div>
        <div class="col-sm-4">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img" src="/images/main/books.jpg" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Supplies</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img" src="/images/main/books.jpg" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Books</h2>
        </div>
        <div class="col-sm-4">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img" src="/images/main/books.jpg" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Books</h2>
        </div>
        <div class="col-sm-4">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img" src="/images/main/books.jpg" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <h2 class="card-title home-page text-center">Books</h2>
        </div>
    </div>

</div>

<div class="container carousel-main">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/main/books.jpg" alt="Los Angeles" width="1100" height="300">
                <div class="carousel-caption">
                    <h3>Book 1</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/main/books.jpg" alt="Chicago" width="1100" height="300">
                <div class="carousel-caption">
                    <h3>Book 2</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/main/books.jpg" alt="New York" width="1100" height="300">
                <div class="carousel-caption">
                    <h3>Book 3</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

</div>
</div>