<div class="disclaimer">
   <p>For demonstrational and educational purposes only</p>
</div>

<div class="container home mt-4">
    <!-- Display logout message -->
    <div>
        {{> message}}
    </div>
    <div class="header">
        <h1>Welcome to Gator Trader</h1>
    </div>
    <div class="row home-page-icons">
        <div class="col-md-3">
            <div class="card home-card img-fluid">
                <img class="card-img home-image" src="/images/main/booksColor.png" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Books</h2>
                        <a href="#" class="stretched-link"></a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/electronicsColor.png" alt="Card image"
                    style="height:100%">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Electronic</h2>
                        <a href="#" class="stretched-link"></a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/suppliesColor.png" alt="Card image"
                    style="height:100%">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Supplies</h2>
                        <a href="#" class="stretched-link"></a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/healthColor.png" alt="Card image"
                    style="height:100%">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Health</h2>
                        <a href="#" class="stretched-link"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/furnitureColor.png" alt="Card image"
                    style="height:100%">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Furniture</h2>
                        <a href="#" class="stretched-link"></a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/servicesColor.png" alt="Card image"
                    style="height:100%">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Services</h4>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/sportsColor.png" alt="Card image"
                    style="height:100%">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Sports</h4>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card home-card img-fluid" style="width:100%">
                <img class="card-img home-image" src="/images/main/otherColor.png" alt="Card image" style="height:100%">
                <div class="card-img-overlay">
                    <h4 class="card-title home-page text-center">Other</h4>
                    <a href="#" class="stretched-link"></a>

                </div>
            </div>
        </div>
    </div>
</div>