
<div class="row">
  <div class="items_page_left_side">
    <div class="items_page_column_left">
      <div class = "items_page_mini_photos">
        <img src="/images/about/color_pencil.jpg" alt="" style="width:50%" onmouseover="myFunction(this);">
        <img src="/images/about/shopping.jpeg" alt="" style="width:50%"  onmouseover="myFunction(this);">
        <img src="/images/about/book.jpeg" alt="" style="width:50%"  onmouseover="myFunction(this);">
        <img src="/images/about/eraser.jpeg" alt="" style="width:50%"  onmouseover="myFunction(this);">
      </div>             
             
      <div class = "items_page_main_photo">
        <img id="expandedImg" style="width:90%">
        <div id="imgtext"></div>
      </div>

      <div class = "items_page_description">
          <p>Title goes here</p>
          <br>
          <p>
              This is a description..... for.....about....anything......
              for...and.....item....longer....to make sure everything
              allignes to the left......
          </p>
      </div>

    </div>
  </div>

  <div class="items_page_right_side">
    <div class="items_page_column_right">
        <div class ="items_page_price">
            <p>Price goes here</p>
        </div>

        <div class = "items_page_contact_seller">
            <button type="button" class="btn btn-primary">Contact Seller</button>
        </div>
    </div>
  </div>

</div>

<script>
    function myFunction(imgs) {
        var expandImg = document.getElementById("expandedImg");
        var imgText = document.getElementById("imgtext");
        expandImg.src = imgs.src;
        imgText.innerHTML = imgs.alt;
        expandImg.parentElement.style.display = "block";
    }
</script>
