<div class="items-page">
    <div class="items-page-column-left">
        <div class="items-page-column-background">
            <div class ="items-page-column-left-mini-photos">
                <img src="/images/about/color_pencil.jpg" alt="" style="width:100%"  onclick="myFunction(this);">
                <img src="/images/about/shopping.jpeg" alt="" style="width:100%" onclick="myFunction(this);">
                <img src="/images/about/book.jpeg" alt="" style="width:100%" onclick="myFunction(this);">
                <img src="/images/about/eraser.jpeg" alt="" style="width:100%" onclick="myFunction(this);">
            </div>

            <div class ="items-page-column-left-main-photo">
                <!-- change size pic here -->
                <img id="expandedImg" style="width:100%">
                <div id="imgtext"></div>
            </div>
            
            <div class ="items-page-column-left-description">
                <p>description</p>
            </div>

          
        </div>
    </div>

    <div class="items-page-column-right">
        <div class="items-page-column-background">
          <h3>Card 2</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
    </div>
</div>

<script>
    function myFunction(imgs) {
        var expandImg = document.getElementById("expandedImg");
        var imgText = document.getElementById("imgtext");
        expandImg.src = imgs.src;
        imgText.innerHTML = imgs.alt;
        expandImg.parentElement.style.display = "block";
    }
</script>