<div class="container">
    <div class="container header">
        <h1>Sign-In</h1>
    </div>
    <!-- Login form -->
    <div class="container" style="width: 30%">
        <!-- Display any error or success messages -->
        <div>
            {{> message}}
        </div>
        <form action="/users/login" method="POST">
            <div class="form-group">
                <input type="username" id="username" name="username" class="form-control"
                    placeholder="Enter SFSU email" />
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter password" />
            </div>
            <div class="form-group">
                By clicking Register, you agree to our <a href="#" style="text-decoration: underline;">Terms</a> and
                that you have read our <a href="#" style="text-decoration: underline;">Data Use Policy</a>, including
                our <a href="#" style="text-decoration: underline;">Cookie Use</a>.
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
        <h5 class="">
            <p><a href="#">Forgot Password?</a></p>
            <p>New to Gator Trader? <a href="/users/register">Sign up</a></p>
        </h5>
    </div>
</div>