<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar ">sidebar</div>
        <div class="col-sm-10">
            <div class="row results-item">
                <div class="col-sm-3">
                    <a href="/results"><img src="/images/about/rightHereEh.jpg"
                            class="resultsImage results-item-image"></a>
                </div>
                <div class="col-sm-9">
                    <h3>Your fricken descriptions go right here!!!</h3>
                </div>
            </div>
            <div class="row results-item">
                <div class="col-sm-3">
                    <a href="/results"><img src="/images/about/rightHereEh.jpg"
                            class="resultsImage results-item-image"></a>
                </div>
                <div class="col-sm-9">
                    <h3>Your fricken descriptions go right here!!!</h3>
                </div>
            </div>
        </div>
    </div>

</div>


<br><br><br><br>
</div>