<div class="container-fluid">
    <!-- Side Bar -->
    <div class="sidebar">
        <a href="#">Price</a>
        <a href="#">Color</a>
        <a href="#">Rating</a>
        <a href="#">Size</a>
    </div>

    <table style="width: 70%">
        <tr>
            <th>
                <div class="col-sm-12">
                    <div class="column">
                        <div class="card">
                            <h3>Card 1</h3>
                            <p>Some text</p>
                            <p>Some text</p>
                        </div>
                    </div>
                </div>
            </th>

        </tr>
        <tr>
            <td>
                <div class="col-sm-12">
                    <div class="column">
                        <div class="card">
                            <h3>Card 1</h3>
                            <p>Some text</p>
                            <p>Some text</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-sm-12">
                    <div class="column">
                        <div class="card">
                            <h3>Card 1</h3>
                            <p>Some text</p>
                            <p>Some text</p>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <th>
                <div class="col-sm-12">
                    <div class="column">
                        <div class="card">
                            <h3>Card 1</h3>
                            <p>Some text</p>
                            <p>Some text</p>
                        </div>
                    </div>
                </div>
            </th>

        </tr>
        <tr>
            <th>
                <div class="col-sm-12">
                    <div class="column">
                        <div class="card">
                            <h3>Card 1</h3>
                            <p>Some text</p>
                            <p>Some text</p>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="col-sm-12">
                    <div class="column">
                        <div class="card">
                            <h3>Card 1</h3>
                            <p>Some text</p>
                            <p>Some text</p>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>