<div class="container">
    <div class="container header">
        <h1>I got your results right here, eh!</h1>
    </div>
    <div class="row results-container">
        <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
        <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
          <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
          <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
    </div>

       <div class="row results-container">
        <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
        <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
          <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
          <div class="col-sm-3 results-margin">
            <a href="/results"><img src="/images/about/rightHereEh.jpg" class="resultsImage results-margin"></a>
            <h3>Your fricken descriptions go right here!!!</h3>
        </div>
    </div>
   
    <br><br><br><br>
</div>