<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/typeahead.min.js"></script>
    <script type="text/javascript" src="/js/inputHandle.js"></script>
    <link rel="stylesheet" href="/stylesheets/search.css">
</head>

<body>
    <div id="results">

        <div class="bs-example" id="bar">
            <form action="/search" method="POST">
                <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false"
                    placeholder="Enter a Product Name">
                <button type="submit">Search</button>

            </form>
        </div>
        <ul>
            {{#each items}}
            <li><a href="/products/{{this.productId}}">{{this.productName}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>