<div id="results">
    <ul>
        {{#if product}}
        {{#each product}}
        <li><a href="/products/{{this.productId}}">{{this.productName}}</a></li>
        {{/each}}
        {{else}}
        <h2>No results found.</h2>
        {{/if}}
    </ul>
</div>