<div class="container my-4" style="width: 50%">
    <div class="container header">
        <h1>Posting an Item for Sale</h1>
    </div>

    <form action="/sell" method="POST">
        <div class="mb-4">
            <h5>Product Name</h5>
            <input type="text" id="product" name="product" class="form-control" style="color: black" maxlength="60">
        </div>
        <div class="mb-4">
            <h5>Price ($)</h5>
            <input type="number" id="price" name="price" class="form-control" style="color: black" max="99999">
        </div>
        <div class="mb-4">
            <h5>Category</h5>
            <select name="categories" class="">
                <option value="">Choose a category</option>
                {{#each category}}
                <option value="{{this.cid}}" {{#if (eq this.cid @root.selectedCategoryVal)}} selected {{/if}}>
                    {{this.name}}
                </option>
                {{/each}}
            </select>
        </div>
        <!---
        <input type="checkbox" id="books" name="category">
        <label for="defaultCheck">Books</label>
        <input type="checkbox" id="supplies" name="category">
        <label for="defaultCheck">Supplies</label>
        <input type="checkbox" id="service" name="category">
        <label for="defaultCheck">Service</label>
        <input type="checkbox" id="electronics" name="category">
        <label for="defaultCheck">Electronics</label>
        <input type="checkbox" id="furniture" name="category">
        <label for="defaultCheck">Furniture</label>
        <input type="checkbox" id="other" name="category">
        <label for="defaultCheck">Other</label>
        -->

        <div class="mb-4">
            <h5>Condition</h5>
            <select name="condition" class="">
                <option value="New">New</option>
                <option value="New">Used - Excellent</option>
                <option value="New">Used - Good</option>
                <option value="New">Used - Decent</option>
                <option value="New">Used - Bad</option>
            </select>
        </div>
        <!--
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Excellent</label>
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Good</label>
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Decent</label>
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Bad</label>
        -->

        <div class="mb-4">
            <h5>Location</h5>
            <input type="checkbox" id="library" name="location">
            <label for="defaultCheck">Library</label>&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="19th ave" name="location">
            <label for="defaultCheck">19th Ave</label>&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="shipping" name="location">
            <label for="defaultCheck">Ship</label>
        </div>

        <div class="mb-4">
            <h5>Add Image here</h5>
            <input type="file" name="myFile">
        </div>

        <div class="mb-4">
            <h5>Description:</h5>
            <textarea class="form-control" rows="5" id="description" name="text" style="color: black"></textarea>
        </div>

        <div class="row justify-content-end mx-0">
            <button type="reset" class="btn btn-danger">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

</div>