<div class="container">
    <div class="container header">
        <h1>Posting an Item for Sale</h1>
    </div>

    <form action="/sell" method="POST">
        <div class="row">
            <div class="col-sm">
                <label for="product">Product Name:</label>
                <input type="text" id="product" name="product" class="form-control">
            </div>
            <div class="col-sm">
                <label for="price">Price ($):</label>
                <input type="text" id="price" name="price" class="form-control">
            </div>
        </div>

        <p>Category</p>
        <input type="checkbox" id="books" name="category">
        <label for="defaultCheck">Books</label>
        <input type="checkbox" id="supplies" name="category">
        <label for="defaultCheck">Supplies</label>
        <input type="checkbox" id="service" name="category">
        <label for="defaultCheck">Service</label>
        <input type="checkbox" id="electronics" name="category">
        <label for="defaultCheck">Electronics</label>
        <input type="checkbox" id="furniture" name="category">
        <label for="defaultCheck">Furniture</label>
        <input type="checkbox" id="other" name="category">
        <label for="defaultCheck">Other</label>

        <p>Condition</p>
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Excellent</label>
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Good</label>
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Decent</label>
        <input type="checkbox" id="condition" name="condition">
        <label for="defaultCheck">Bad</label>


        <p>Location</p>
        <input type="checkbox" id="library" name="location">
        <label for="defaultCheck">Library</label>
        <input type="checkbox" id="19th ave" name="location">
        <label for="defaultCheck">19th Ave</label>
        <input type="checkbox" id="shipping" name="location">
        <label for="defaultCheck">Ship only</label>

        <p>Add Image here</p>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" id="description" name="text"></textarea>
        </div>
        <div class="row justify-content-end">
            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

</div>