<div class="container" style="margin-top:30px;text-align:center">
    <h1>Sergei Katukhov</h1><br><br>
</div>
<div class="container" style="margin-bottom:150px">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/Sergei.JPG" class="rounded" alt="Cinque Terre" width="346" height="480"><br>
        </div>
        <div class="col-sm-8">
            <p>Hi! My name is Sergei Katukhov. I’m international student from Russia who is studying Computer Science in
                San Francisco State University. I hope you enjoy our project!
            </p>
        </div>
    </div>
</div>