<div class="container" style="margin-top:30px;text-align:center">
    <h1>About Steve</h1><br><br>
</div>
<div class="container" style="margin-bottom:150px">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/tooth.png" class="rounded" alt="Cinque Terre" width="304" height="236"><br>
        </div>
        <div class="col-sm-8">
            <p>Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
                Put your about me here.
            </p>
        </div>
    </div>
</div>