<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
            <div class="header">
                <h1>Sign-In</h1>
            </div>

            <!-- Display any error or success messages -->
            <div>
                {{> message}}
            </div>

            <!-- Login form -->
            <form action="/user/login?redirectUrl={{redirectUrl}}" method="POST">
                <div class="form-group">
                    <input type="username" id="username" name="username" class="form-control"
                        placeholder="Enter SFSU email" maxlength="40" required />
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter password" maxlength="20" required />
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="terms" required>
                    <label class="form-check-label" for="terms">I agree to the <a href="#"
                            style="text-decoration: underline;">Terms</a> and
                        that I have read the <a href="#" style="text-decoration: underline;">Data Use Policy</a>,
                        including <a href="#" style="text-decoration: underline;">Cookie Use</a>.</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign-In</button>
                </div>
            </form>
            <h6 class="">
                <p><a href="#" style="text-decoration: underline;">Forgot Password?</a></p>
                <p>New to Gator Trader? <a href="/user/register" style="text-decoration: underline;">Sign up</a></p>
            </h6>
        </div>
    </div>
</div>