<div class="container" style="margin-top:30px;text-align:center">
    <h1>About Tim</h1><br><br>
</div>
<div class="container" style="margin-bottom:150px">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/myself.png" class="rounded" alt="Cinque Terre" width="304" height="236"><br>
        </div>
        <div class="col-sm-8">
            <p>
                Hello, my name is Tim. I'm graduating in May 2020. I love to do water sports. 
                Love trying new food. Love watching movies, tv shows, and etc.
            </p>
        </div>
    </div>
</div>