.about {
    width: 75%;
    text-align: center;
}

.indiv-container {
    margin-bottom: 50px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: filter .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.avatar:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    opacity: 0.7;
}

.name-position-container {
    margin-top: 10px;
}

h3.name {
    padding: 0px;
    margin: 5px;
}

h4.position {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.avatar-container {
    text-align: center;
}