
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.account_container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 40px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.selling li {
    border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.selling .table-header {
    background-color: #68b174;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.selling .table-row {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.selling .col-1 {
    flex-basis: 25%;
    font-weight: bold;
}
.selling .table-row .col-2 {
    flex-basis: 25%;
    color: green;
    font-weight: bold;

}
.selling .col-3 {
    flex-basis: 25%;
}
.selling .col-4 {
    flex-basis: 25%;
    font-weight: bold;
}


@media screen and (max-width: 700px) {
}

/* --------------------------------------------------------------------------------------------------- */


/*** Table Styles **/

.messages {
  background: white;
  border-radius:5px;
  height: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:5px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.new_message{
    background: lightgray;
    font-weight: bold;
    
}
 
th {
  color:rgb(243, 245, 247);;
  background:#030405;
  font-size:22px;
  font-weight: bold;
  padding:12px;
  text-align:left;
}
  
tr {
  border-top: 1px solid rgb(73, 73, 75);
  border-bottom: 1px solid rgb(73, 73, 75);
}
 
tr:hover td {
  background:rgb(139, 125, 139);
  color:#FFFFFF;
}
 
td {
  background:#FFFFFF;
  padding:8px;
  text-align:left;
  font-weight:normal;
  font-size:15px;
  border-right: 1px solid rgb(8, 8, 8);
}

/* -------------------------------------------------------------------------------- */


.buy li {
    border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.buy .table-header {
    background-color: #536dd6;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.buy .table-row {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.buy .col-1 {
    flex-basis: 25%;
    font-weight: bold;
}
.buy .table-row .col-2 {
    flex-basis: 25%;

}
.buy .col-3 {
    flex-basis: 25%;
    font-weight: bold;
}
.buy .col-4 {
    flex-basis: 25%;
    font-weight: bold;
}

#account{
    text-align: center;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: 5px 5px 5px 5px;
    padding: 3px;

}

#account:hover {
    background:rgba(182, 165, 182, 0.767);
    color:#FFFFFF;
  }