/* Page Containers */

.sell_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.messages_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.account_container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard_tabs{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ------------------------------------------------------------- */

/* Account Boxes Styling */

#account {
    text-align: center;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: 5px 5px 5px 5px;
    padding: 3px;
}

#account:hover {
    background: rgba(182, 165, 182, 0.767);
    color: #FFFFFF;
}

.account_container h1 {
    font-size: 40px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

/* ------------------------------------------------------------- */

/* Selling Styling */

.selling li {
    border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.selling .table-header {
    background-color: #68b174;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.selling .table-row {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.selling .col-6 {
    font-weight: bold;
}

.selling .col-1 {
    flex-basis: 20%;
    font-weight: bold;
}

.selling .table-row .col-2 {
    flex-basis: 20%;
    color: green;
    font-weight: bold;
}

.selling .col-3 {
    flex-basis: 20%;
}

.sell_container h2 {
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

/* --------------------------------------------------------------------------------------------------- */

/* Messages Styling*/

.messages li {
    border-radius: 5px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.messages .table-header {
    background-color: #686fb1;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.messages .table-row {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.messages .col-3 {
    font-weight: bold;
}

.messages .col-2 {
    font-weight: bold;
}

.messages .subject {
    text-decoration: underline;
}

.messages_container h2 {
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.messages_container btn {
    float: right;
}