.home {
    color: black;
    text-align: center;
}
 /* Make the image fully responsive */
 .carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .carousel-main {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .home-card {
    height: 150px;
   
  }

  .home-image {
    height:100%;
    object-fit: scale-down;
    padding-bottom: 40px;
    padding-top: 25px;
  }