.home {
    color: black;
    text-align: center;
}

.home-card {
    height: 150px;
    margin-bottom: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.home-image {
    height: 100%;
    object-fit: scale-down;
    padding-bottom: 50px;
    padding-top: 20px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.home-page {
    margin-top: 90px;
}

.home-page-icons {
    margin-bottom: 20px;
}
