
.itemContainer {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 5px;
  padding: 20px;  
  margin: 15px;
}


.items_page_mini_photos {
  width: 15%;
  float: left;
} 

.items_page_main_photo {
  width: 85%;
  float: left;
}


.itemContainer .featured_text h1 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 50px;
  color: #181e28;
}
.itemContainer .featured_text p {
  margin: 0;
  padding: 0;
}
.itemContainer .featured_text p.seller{
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
}
.itemContainer .featured_text p.price {
  color: #811b1b;
  font-size: 26px;
  font-weight: 500;
}

.itemContainer .featured_text ul.brief_description {
padding: 15px;
}

.itemContainer .contact_button {
  cursor: pointer;
  border: 1px solid #f0c14b;
  padding: 9px 15px;
  border-radius: 5px;
  color: #fff;
  background: #f0c14b;
  font-size: 14px;
  transition: 200ms;
  font-weight: bold;
  }
  
  .itemContainer .pickup_map {
    top: 5%;
    min-height: 300px;
    border-radius: 5px;
    background-color: grey;
  }
  
  
  .itemContainer .contact_button:hover {
    background: #fff;
    color: #f0c14b;
  }

.itemContainer .additional_Info {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.itemContainer .additional_Info::before {
  content: "";
  position: absolute;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 40px;
  width: calc(100% - 80px);
  height: 3px;
  background: lightgray;
}

.itemContainer .additional_Info .description {
  margin-bottom: 25px;
  margin-top: 10px;
}

.itemContainer .additional_Info .description h4 {
padding-top: 20px;
} 

.itemContainer .additional_Info .description p {
  margin: 0;
  font-weight: 450;
  line-height: 25px;
  font-size: 16px;
} 
