* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove extra left and right margins, due to padding */
.items-page {
    margin: 10px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .items-page {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}

/* Float four columns side by side */
.items-page-column-left {
  float: left;
  width: 70%;
  padding: 0 10px;
}

.items-page-column-right {
  float: left;
  width: 30%;
  padding: 0 10px;
}
/* Style the counter cards */
.items-page-column-background {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
}

.items-page-column-left .items-page-column-background .items-page-column-left-mini-photos {
  float: left;
  width: 10%;
  padding: 0 20px;
}

.items-page-column-left .items-page-column-background .items-page-column-left-main-photo {
  float: left;
  width: 20%;
  padding: 0 20px;
}

.items-page-column-left .items-page-column-background .items-page-column-left-description {
  float: left;
  width: 20%;
  padding: 0 20px;
}
