.main {
    min-height: 450px;
    margin-top: 60px;
}

.navbar {
    background-color: lightgray;
}

.footer {
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 30px;
}

.footer-pushdown {
    min-height: calc(100% - 89px);
}

.form-inline{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .form-control {
    min-width: 400px;
  }
  .color {
      background-color: rgb(139, 125, 139);
      color: white;
  }
  #bars {
    color: black;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.center {
    justify-content: center;
}
.searchbar {
    margin-bottom: 0px;
    max-width: 50%;
}