body {
	background-color: rgb(216, 215, 215);
}

.main {
	min-height: 550px;
}

@media (min-width: 768px) {
	.sticky-navbar-top {
		position: sticky !important;
		top: 0 !important;
		z-index: 1020 !important;
	}
}

.navbar {
	background-color: rgb(74, 54, 78);
	padding: 0rem 1rem;
}

.navbar-brand {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.navbar a {
	color: white;
}

.navbar a:active {
	color: #fde21c;
}

.footer {
	background-color: rgb(74, 54, 78);
	color: white;
	text-align: center;
}

.footer a {
	color: white;
}

.footer-pushdown {
	min-height: calc(100% - 89px);
}

.header {
	text-align: center;
	margin-bottom: 30px;
	color: black;
	text-shadow: 2px 2px 2px rgb(139, 125, 139);
}

a {
	color: black;
}

a:hover {
	color: #fde21c;
	text-decoration: none;
}

#bars {
	color: black;
	font-size: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

.dropdown-menu {
	background-color: #ffffff;
	border: 2px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	padding: 8px 0;
}

.dropdown-menu a {
	color: black;
}

.dropdown-item:hover {
	background-color: rgb(194, 194, 194);
}

.user-dropdown-menu {
	left: auto;
	right: 0;
}

.sell-button {
	background-color: #fde21c;
	border: 1px solid #fde21c;
}

.sell-button a {
	color: black;
}

.sell-button:hover {
	background: #fff;
	color: #d3ae0a;
}

.disclaimer {
	margin-top: 10px;
	color: #fde21c;
	font-style: italic;
}

.navbar-brand:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 1.0s;
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@media (max-width: 768px) {
	.col-auto {
		margin: auto;
	}
	.navbar {
		padding: 0.4rem 1rem;
	}
}

@media (max-width: 425px) {
	.col-12 {
		margin: auto;
	}
}

.scrollable-categories {
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.scrollable-categories::-webkit-scrollbar {
	width: 0 !important
}

.scrollable-categories {
	overflow: -moz-scrollbars-none;
}

.scrollable-categories {
	-ms-overflow-style: none;
}