.main {
    min-height: 450px;
    margin-top: 120px;
}

.navbar {
    background-color: lightgray;
    color: white;
}

.footer {
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 30px;
}

.footer-pushdown {
    min-height: calc(100% - 89px);
}