.sender {
    text-align: right;
    background-color: rgb(165, 139, 165);
    border-radius: 5px;
}

.recipient {
    text-align: left;
    background-color: rgb(241, 241, 123);
    border-radius: 5px;
}

.scrollable {
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}